<h1>Car</h1>

<% if @car.errors.any? %>
<h2>ERROR!</h2>
<ul>
  <% @car.errors.full_messages.each do |error_msg| %>
  <li><%= error_msg %></li>
  <% end %>
</ul>

<% end %>

<%= form_for @car do |f| %>

<%= f.select :manufacturer_id, @manufacturers.map {|m| [ m.name, m.id ] }, {prompt: 'Select Manufacturer'} %>

<%= f.label :color, "Color" %>
<%= f.text_field :color %>

<%= f.label :year, "Year" %>
<%= f.text_field :year %>

<%= f.label :mileage, "Mileage" %>
<%= f.text_field :mileage %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<%= f.submit "Add Car" %>

<% end %>
